# Fill with the Pyrogram session string
SESSION_NAME= Your Session

# Your music bot username
BOT_USERNAME=

# Your Bot Token
BOT_TOKEN=

# Your API ID from my.telegram.org
API_ID=

# Your API HASH from my.telegram.org
API_HASH=

# List of user IDs separated by space (you can fill this with your id too)
SUDO_USERS=1424133944 

# in minutes (default:40)
DURATION_LIMIT=240 

# if you have channel, fill the channel username here without @
UPDATES_CHANNEL=LuciferSource

# # if you have group, fill the group username here without @
GROUP_SUPPORT=Lucifer_Source

# fill with the assistant username without @
ASSISTANT_NAME=

# fill with username of your telegram account
OWNER_NAME=DeV_PHPJS

# fill with nickname/name of your telegram account
ALIVE_NAME=𝐋𝐔𝐂𝐈𝐅𝐄𝐑 𝐌𝐔𝐒𝐈𝐂 • 🇪🇬

# fill with nickname/name of your telegram account
BOT_PHOTO=

# fill with the mongodb url you created from cloud.mongodb.com
MONGODB_URL=
